
* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
.seccion-fondo {
    background-color: rgb(237, 247, 217);
    padding-top: 1px;
    padding-bottom: 100px;
}
a:link {
    text-decoration: none;
}
.logo {
    width: 50px;
    margin-left: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.item {
    font-weight: bold;
    padding-top: 5px;
    color: rgb(237, 247, 217) !important;
}
.item:hover {
    color: rgba(255, 255, 255, 0.596) !important;
    text-decoration: underline rgba(255, 255, 255, 0.596);
}


.barra {
    background-color: rgb(47, 63, 16);
    width: 100%;
    height: 20px;
}
.menu {
    background-color: rgba(47, 63, 16, 0.678);
    z-index: 1;
}